.header {
  text-align: center;
  font-family: Arial, sans-serif;
}

.posts {
  width: 90%;
  float: left;
}

.post {
  padding: 10px;
  /* margin: 15px; */
  margin: 0 15px 15px;
  background-color: beige;
}

.body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

.date {
  margin: 0px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 10%;
  float: right;
}

.link {
  text-decoration: none;
}
